<h1>Calculator</h1>
<div>{{display}}</div>
<input type="number" name="numero1" id="numero1">
<input type="number" name="numero2" id="numero2">
<br>
<input type="number" name="numero1" id="totl">
<br>
<button (click)="boton(7)">7</button>
<button (click)="boton(8)">8</button>
<button (click)="boton(9)">9</button>
<br>
<button (click)="boton(4)">4</button>
<button (click)="boton(5)">5</button>
<button (click)="boton(6)">6</button>
<br>
<button (click)="boton(1)">1</button>
<button (click)="boton(2)">2</button>
<button (click)="boton(3)">3</button>
<br>
<button (click)="boton(0)">0</button>
<button (click)="botonSuma()">+</button>
<button (click)="botonResta()">-</button>
<br>
<button (click)="botonC()">Clear</button>


